{% extends 'base.html.twig' %}

{% block title %}CAC - Competences Actives Consulting
{% endblock %}

{% block body %}
	<section class="blue-right">
		<article class="container">
			<article>
				<a href="{{ path('services_index') }}" class="button left">En savoir +</a>
			</article>

			<p class="texte-left">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ex nostrum exercitationem inventore itaque? Excepturi placeat mollitia quidem, eveniet et distinctio expedita, similique accusamus, voluptatem modi assumenda soluta ad repellat!
			</p>
			<article class="container-height">
				<h2 class="titre">Services pour particuliers</h2>
			</article>
		</article>
	</section>
	<section class="green-left">

		<article class="container">
			<article class="container-height">
				<h2 class="titre">Services aux entreprises</h2>
			</article>

			<p class="texte-right">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ex nostrum exercitationem inventore itaque? Excepturi placeat mollitia quidem, eveniet et distinctio expedita, similique accusamus, voluptatem modi assumenda soluta ad repellat!
			</p>
			<article class="container-button">
				<a href="{{ path('services_index') }}" class="button right">En savoir +</a>
			</article>

		</article>
	</section>
	<section class="blue-right">
		<article class="container">
			<article class="container-button">
				<a href="{{ path('services_index') }}" class="button left">Nous contacter</a>
			</article>

			<p class="texte-left">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ex nostrum exercitationem inventore itaque? Excepturi placeat mollitia quidem, eveniet et distinctio expedita, similique accusamus, voluptatem modi assumenda soluta ad repellat!
			</p>
			<article class="container-height">
				<h2 class="titre">Contact</h2>
			</article>

		</article>
	</section>
	<section class="green-left">
		<article class="container">
			<article class="container-height">
				<h2 class="titre">Prestataires annexes</h2>
			</article>

			<p class="texte-right">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ex nostrum exercitationem inventore itaque? Excepturi placeat mollitia quidem, eveniet et distinctio expedita, similique accusamus, voluptatem modi assumenda soluta ad repellat!
			</p>
			<article class="container-button">
				<a href="{{ path('services_index') }}" class="button right">En savoir +</a>
			</article>

		</article>
	</section>

{% endblock %}
