<form method="post" action="{{ path('service_partenaire_delete', {'id': service_partenaire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service_partenaire.id) }}">
    <button class="btn">Delete</button>
</form>
