{% extends 'base.html.twig' %}

{% block title %}New ServicePartenaire{% endblock %}

{% block body %}
    <h1>Create new ServicePartenaire</h1>

    {{ include('service_partenaire/_form.html.twig') }}

    <a href="{{ path('service_partenaire_index') }}">back to list</a>
{% endblock %}
