{% extends 'base.html.twig' %}
{% block title %}Nos prestataires annexes
{% endblock %}

{% block navadmin %}
	<ul class="nav-links">
		<li>
			<a href="{{path('prestataires_index')}}">Admin</a>
		</li>
	</ul>
{% endblock %}

{% block body %}{% endblock %}
