{% extends 'base.html.twig' %}

{% block title %}Nouveau Services{% endblock %}

{% block body %}
    <h1>Créer un Service</h1>

    {{ include('services/_form.html.twig') }}

    <a href="{{ path('services_index') }}" class="button">Retour à la liste</a>
{% endblock %}
