footer{
    background: black;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

.footer{
    flex: 1;
    text-align: center;
    
    align-items: center;
    justify-content: center;
}



.nav-links-footer{
    list-style: none;

}

footer a{
    color: white;
    text-decoration: none;
    
}

footer p{
    margin-top: 1px;
    margin-bottom: 1px;
}

@media screen and (min-width:769px){
    .footer{
        min-height: 10vh;
    }
}


@media screen and (max-width:768px) {    
    footer{
        flex-direction: column;
    }
    
    .footer:first-of-type,
    .footer:nth-of-type(2){
        min-width: 50vw;
    }

}