.centre{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.section-border{
    border: solid 2px var(--blue);  
}

.centre h2{
    text-align: center;
}

form{
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
    position: relative;
}

.required{
    width : 300px;
}

form>div,
form>section{
    margin-top: 10px;
    margin-bottom: 10px;
}

form>button{
    margin-top: 5px;
}

form>div>label,
form>section>label,
form>div>div>label{
    display: block;
}

.registerForm{
    height: 100 px;
}

.bottom-right{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

td{
    text-align: center;
}

