.blue-right{
    /* border-right: solid 1px black; */
    animation-name: arriver-gauche;
    animation-duration: 2s;
    animation-iteration-count: 1;
    -moz-animation-name: arriver-gauche;
    background: linear-gradient(to left, var(--blue), white)
}

.green-left{
    /* border-left: solid 1px black; */
    animation-name: arriver-droite;
    animation-duration: 2s;
    animation-iteration-count: 1;
    background: linear-gradient(to right, var(--vert), white)
}

.blue-right,
.green-left{
    /* border-top: solid 1px black;
    border-bottom: solid 1px black; */
    min-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 5px;
}

.titre{
    min-width: 200px;
}

.texte-left{
    margin-left: 200px;
    text-align: justify;
    text-indent: 20px;
}
.texte-right{
    margin-right: 200px;
    text-align: justify;
    text-indent: 20px;
}



.container{
    position: relative;
    display: flex;
}

.middle h2{
    text-align: center;
}

.index h2 { 
    display:inline-block;
    vertical-align:middle;
    line-height:normal /* et hop on rétablit le line-height */
 }

.right{
    position: absolute;
    right: 10px;
    top: 35%;
    bottom: 35%;
    /* float: right; */
}

.left{
    position: absolute;
    left: 10px;
    top: 35%;
    bottom: 35%;
    float: left;
}

.container p{
    padding: 5px;
}

/*
animations
*/

@keyframes arriver-gauche{
    0% {
        Opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%)
    }
}

@keyframes arriver-droite{
    0% {
        Opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%)
    }
}

/*mediaquery*/

@media screen and (max-width:1062px) {    
    .container p{
        display: none;
    }
}