#services,
#contact{
    /* border-right: solid 1px black; */
    animation-name: arriver-gauche;
    animation-duration: 2s;
    animation-iteration-count: 1;
    -moz-animation-name: arriver-gauche;
    background: linear-gradient(to left, var(--blue), white)
}

#entreprise,
#prestataires{
    /* border-left: solid 1px black; */
    animation-name: arriver-droite;
    animation-duration: 2s;
    animation-iteration-count: 1;
    background: linear-gradient(to right, #5c2e86, white)
}

#services,
#contact,
#entreprise,
#prestataires{
    /* border-top: solid 1px black;
    border-bottom: solid 1px black; */
    min-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.titre{
    min-width: 200px;
}

.texte-left{
    margin-left: 200px;
}
.texte-right{
    margin-right: 200px;
}



.container{
    position: relative;
    display: flex;
}

.container-height{
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.right{
    position: absolute;
    right: 10px;
    top: 35%;
    bottom: 35%;
    /* float: right; */
}

.left{
    position: absolute;
    left: 10px;
    top: 35%;
    bottom: 35%;
    float: left;
}

.container p{
    padding: 5px;
}

/*
animations
*/

@keyframes arriver-gauche{
    0% {
        Opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%)
    }
}

@keyframes arriver-droite{
    0% {
        Opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%)
    }
}

/*mediaquery*/

@media screen and (max-width:1062px) {    
    .container p{
        display: none;
    }
}