#presentation-entreprise{
    display: flex;
    margin-top: 10px;
    padding-left: 10px;
}



#presentation-entreprise article{
    flex: 1;
}

.description{
    margin-top: 5px;
    margin-bottom: 5px;
}

#description_paragraph{
    width: 400px;
    
}

#img-entreprise{
    width: 70%;
    height: 300px;
    
}

#img-article{
    min-height: 500px;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
}

#mid{
    text-align: center;
}

#presentation-equipe{
    display: flex;
    flex-wrap: wrap;
}

.container {
    flex: 1;
    width: 400px;
    height: 250px;
    /* margin: 0 auto;  */
    position: relative;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
    transform: perspective(1400px);
    -moz-transform: perspective(1400px);
    -ms-transform: perspective(1400px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d; 
    transform-style: preserve-3d;
    -webkit-perspective-origin: right;
    -moz-perspective-origin: right;
    perspective-origin: right;
  }
  .card {
    width: 400px;
    height: 250px;
    border: solid 2px #F5AF69;
    position: relative; 
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d; 
    transform-style: preserve-3d;
    transition: .8s ease-in-out;
    position: relative;
  }
  .logo {
    width: 200px;
    height: 200px;
    vertical-align: center;
    line-height: 200px;
    text-align: center;
  }

  .front, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .front {
    display:-webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
 .ul-card {
    margin: 0;
    width: 100%;
    list-style: none;
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 0 1%;
  }
  .ul-card:after {
    content: '';
    display: table;
    clear: both;
  }
  .li-card {
    width: 45%;
    margin: 0 2.5%;
    float: left;
    padding: 10px;
    border: 2px solid #FC5135;
    border-radius: 4px;
    position: relative;
    text-align: center;
    color: #4E203C;
  }
  .li-card:before {
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height:30px;
    background: #FC5135;
    color: white;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-family: FontAwesome;
  }
  .li-card:nth-child(1):before {content: "\f095"}
  .li-card:nth-child(2):before {content: "\f003"}
  .li-card:nth-child(3):before {content: "\f0c1"}
  h3 {
    color: #FC5135;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    font-size: 40px;
  }
  h3 span {
    color: #4E203C;
    display: block;
    font-size: .45em;
    letter-spacing: 3px;
  }
  h3 i {
    font-style: normal;
    text-transform: none;
    font-family: 'Playfair Display', serif;
  }