@import url('navbar.css');
@import url('footer.css');
@import url('banniere.css');
@import url('form.css');
@import url('Services.css');
@import url('ServiceVisiteur.css');

:root{
    --blue:#21a1e0;
    --vert: #8dd14a;
    --violer: #5c2e86;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'BenchNine', sans-serif;
}

html{
    height: 100vh;
}

main{
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    min-height:77.7vh
}

.button{
    background-color: var(--blue);
    border-radius: 10px;
    color: #000;
    text-align: center;
    padding: 2px 10px;
    min-width: 150px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
}

.button:hover{
    background-color: var(--vert);
    color: #000;
    text-decoration: none;
}

h2:first-of-type{
    margin-bottom: 20px;
}

h2{
    margin-bottom: 5px;
}

a{
    margin-left: 5px;
}

