{% extends 'base.html.twig' %}

{% block title %}CAC - Competences Actives Consulting
{% endblock %}

{% block stylesheets %}
			<link rel="stylesheet" href=" {{ asset('assets/css/style.css') }} ">
            <link rel="stylesheet" href=" {{ asset('assets/css/ServiceVisiteur.css') }} ">
		{% endblock %}


{% block body %}
<header>
 <section>
   <div>
   <h2>Rechercher</h2>
   </div>
   <div>
   <div></div>
   <div></div>
   </div>
 </section>
</header>
<h1 class="titre">Nos services</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

<section>
		<img src=" {{ asset('images/training.jpg') }} " alt="photo">
	</section>
<p>• Lorem ipsum dolor sit amet, consectetur adipiscing facilisis.</p>
<br>
<p>• Lorem ipsum dolor sit amet, consectetur adipiscing facilisis.</p>
<br>
<p>• Lorem ipsum dolor sit amet, consectetur adipiscing facilisis.</p>



</div>
{% endblock %}
