<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta>
		<title>
			{% block title %}CAC - Competences Actives Consulting
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href=" {{ asset('assets/css/style.css') }} ">
		{% endblock %}


	</head>
	<body>
		{% block navbar %}
			<header>
				<a href="{{ path('home') }}"><img src=" {{ asset('images/Logo.jpg') }} " alt="logo CAC" id="logo"></a>
				<nav>
					<ul class="nav-links">
						<li>
							<a href="">Mes services</a>
						</li>
						<li>
							<a href="">CAC</a>
						</li>
						<li>
							<a href="">Services Annexes</a>
						</li>
						<li>
							<a href="">Nous contacter</a>
						</li>
						<li>
							<a href="">Blog</a>
						</li>
					</ul>
					<div class="burger">
						<span></span>
					</div>
				</nav>
			</header>
		{% endblock %}
		<main>
			{% block body %}{% endblock %}
			{% block javascripts %}
			</main>
			<script src=" {{ asset('assets/js/script.js') }} "></script>
		{% endblock %}
	</body>
</html>
