{% extends 'base.html.twig' %}

{% block title %}New ServiceEquipe
{% endblock %}

{% block body %}
	<h2>Créer un Service</h2>

	{{ include('service_equipe/_form.html.twig') }}

	<a href="{{ path('equipe_index') }}" class="button">Revenir à la liste</a>
{% endblock %}
