{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
	<h2>Liste des utilisateurs</h2>
	<div class="container">

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">Prénom</th>
					<th scope="col">Role</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{user.nom}}</td>
						<td>{{user.prenom}}</td>
						<td>
							{% if user.roles[0] is same as "ROLE_MODO" %}
								Modérateur
							{% endif %}
						</td>
					</tr>
				</td>
				<td>
					{% if user.roles[0] is same as "ROLE_MODO" or user.roles[0] is same as "ROLE_ADMIN"  %}
						{% else %}
							<a href="{{path('setModo', {'id':user.id})}}">Passer modérateur</a>
					{% endif %}
				</td>
			</tbody>
		</table>
	{% endfor %}
{% endblock %}
